<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503782845658-mta02902mqcfslrpr9ornmq55mi229vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503782845658-mta02902mqcfslrpr9ornmq55mi229vp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503782845658-08hqf78h5hpfnongdm8hm5p4uo1c0koq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBUwjNi48ySjg2GaDfFfdtq3KiDco_TJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>503782845658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.inomjonflutterdev.weatherScience</string>
	<key>PROJECT_ID</key>
	<string>weatherscience-ac064</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherscience-ac064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503782845658:ios:de0910305bc10c264649e3</string>
</dict>
</plist>